# Lab_3-3: Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less affected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom: `price_ratio=quarter_before_recession/recession_bottom`

The following data files are available for this assignment:

* From the [Zillow research data site](http://www.zillow.com/research/data/), there is housing data for the United States. In particular, the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), `City_Zhvi_AllHomes.csv`, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns, there is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copied and pasted into the file `university_towns.txt`.
* From the Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file `gdplev.xls`. For this lab, only look at GDP data from the first quarter of 2000 onward.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import csv

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Each function in this assignment below is worth 10%, with the exception of `run_ttest()`, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

## Question 0

Let's get the list of university towns first:

In [4]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the
    university_towns.txt list. The format of the DataFrame should like be:
    DataFrame( [ ["Massachusetts", "Boston"], ["Massachusetts", "Fitchburg"] ],
    columns=["State", "RegionName"]  )



    The following cleaning needs to be done:



    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    DATA_PATH = r'/content/drive/MyDrive/Colab Notebooks/ML Class/Week 8/Hypothesis test lab/university_towns.txt'

    university_towns=[]
    State = None
    town = None
    with open(DATA_PATH) as file:
      for i in file:
        if  '[edit]' in i:  #Trying to find the state
          State=i.replace('[edit]',"").strip() #Getting the state
        else:
          town = i.split('(')[0].strip() #Splitting everything before ( cause thats where the uni start and taking the first element which is the town

          university_towns.append([State,town]) #Appending values


    return university_towns

# Testing
uni=get_list_of_university_towns()
print(uni)

[['Alabama', 'Auburn'], ['Alabama', 'Florence'], ['Alabama', 'Jacksonville'], ['Alabama', 'Livingston'], ['Alabama', 'Montevallo'], ['Alabama', 'Troy'], ['Alabama', 'Tuscaloosa'], ['Alabama', 'Tuskegee'], ['Alaska', 'Fairbanks'], ['Arizona', 'Flagstaff'], ['Arizona', 'Tempe'], ['Arizona', 'Tucson'], ['Arkansas', 'Arkadelphia'], ['Arkansas', 'Conway'], ['Arkansas', 'Fayetteville'], ['Arkansas', 'Jonesboro'], ['Arkansas', 'Magnolia'], ['Arkansas', 'Monticello'], ['Arkansas', 'Russellville'], ['Arkansas', 'Searcy'], ['California', 'Angwin'], ['California', 'Arcata'], ['California', 'Berkeley'], ['California', 'Chico'], ['California', 'Claremont'], ['California', 'Cotati'], ['California', 'Davis'], ['California', 'Irvine'], ['California', 'Isla Vista'], ['California', 'University Park, Los Angeles'], ['California', 'Merced'], ['California', 'Orange'], ['California', 'Palo Alto'], ['California', 'Pomona'], ['California', 'Redlands'], ['California', 'Riverside'], ['California', 'Sacramento'], ['California', 'University District, San Bernardino'], ['California', 'San Diego'], ['California', 'San Luis Obispo'], ['California', 'Santa Barbara'], ['California', 'Santa Cruz'], ['California', 'Turlock'], ['California', 'Westwood, Los Angeles'], ['California', 'Whittier'], ['Colorado', 'Alamosa'], ['Colorado', 'Boulder'], ['Colorado', 'Durango'], ['Colorado', 'Fort Collins'], ['Colorado', 'Golden'], ['Colorado', 'Grand Junction'], ['Colorado', 'Greeley'], ['Colorado', 'Gunnison'], ['Colorado', 'Pueblo, Colorado'], ['Connecticut', 'Fairfield'], ['Connecticut', 'Middletown'], ['Connecticut', 'New Britain'], ['Connecticut', 'New Haven'], ['Connecticut', 'New London'], ['Connecticut', 'Storrs'], ['Connecticut', 'Willimantic'], ['Delaware', 'Dover'], ['Delaware', 'Newark'], ['Florida', 'Ave Maria'], ['Florida', 'Boca Raton'], ['Florida', 'Coral Gables'], ['Florida', 'DeLand'], ['Florida', 'Estero'], ['Florida', 'Gainesville'], ['Florida', 'Orlando'], ['Florida', 'Sarasota'], ['Florida', 'St. Augustine'], ['Florida', 'St. Leo'], ['Florida', 'Tallahassee'], ['Florida', 'Tampa'], ['Georgia', 'Albany'], ['Georgia', 'Athens'], ['Georgia', 'Atlanta'], ['Georgia', 'Carrollton'], ['Georgia', 'Demorest'], ['Georgia', 'Fort Valley'], ['Georgia', 'Kennesaw'], ['Georgia', 'Milledgeville'], ['Georgia', 'Mount Vernon'], ['Georgia', 'Oxford'], ['Georgia', 'Rome'], ['Georgia', 'Savannah'], ['Georgia', 'Statesboro'], ['Georgia', 'Valdosta'], ['Georgia', 'Waleska'], ['Georgia', 'Young Harris'], ['Hawaii', 'Manoa'], ['Idaho', 'Moscow'], ['Idaho', 'Pocatello'], ['Idaho', 'Rexburg'], ['Illinois', 'Carbondale'], ['Illinois', 'Champaign–Urbana'], ['Illinois', 'Charleston'], ['Illinois', 'DeKalb'], ['Illinois', 'Edwardsville'], ['Illinois', 'Evanston'], ['Illinois', 'Lebanon'], ['Illinois', 'Macomb'], ['Illinois', 'Normal'], ['Illinois', 'Peoria'], ['Indiana', 'Bloomington'], ['Indiana', 'Crawfordsville'], ['Indiana', 'Greencastle'], ['Indiana', 'Hanover'], ['Indiana', 'Marion'], ['Indiana', 'Muncie'], ['Indiana', 'Oakland City'], ['Indiana', 'Richmond'], ['Indiana', 'South Bend'], ['Indiana', 'Terre Haute'], ['Indiana', 'Upland'], ['Indiana', 'Valparaiso'], ['Indiana', 'West Lafayette'], ['Iowa', 'Ames'], ['Iowa', 'Cedar Falls'], ['Iowa', 'Cedar Rapids, Iowa'], ['Iowa', 'Decorah'], ['Iowa', 'Fayette'], ['Iowa', 'Grinnell'], ['Iowa', 'Iowa City'], ['Iowa', 'Lamoni'], ['Iowa', 'Mount Vernon,'], ['Iowa', 'Orange City'], ['Iowa', 'Sioux Center'], ['Iowa', 'Storm Lake'], ['Iowa', 'Waverly'], ['Kansas', 'Baldwin City'], ['Kansas', 'Emporia'], ['Kansas', 'Hays'], ['Kansas', 'Lawrence'], ['Kansas', 'Manhattan'], ['Kansas', 'Pittsburg'], ['Kentucky', 'Bowling Green'], ['Kentucky', 'Columbia'], ['Kentucky', 'Georgetown'], ['Kentucky', 'Highland Heights'], ['Kentucky', 'Lexington'], ['Kentucky', 'Louisville'], ['Kentucky', 'Morehead'], ['Kentucky', 'Murray'], ['Kentucky', 'Richmond'], ['Kentucky', 'Williamsburg'], ['Kentucky', 'Wilmore'], ['Louisiana', 'Baton Rouge'], ['Louisiana', 'Grambling'], ['Louisiana', 'Hammond'], ['Louisiana', 'Lafayette'], ['Louisiana', 'Monroe'], ['Louisiana', 'Natchitoches'], ['Louisiana', 'Ruston'], ['Louisiana', 'Thibodaux'], ['Maine', 'Augusta'], ['Maine', 'Bar Harbor'], ['Maine', 'Brunswick'], ['Maine', 'Farmington'], ['Maine', 'Fort Kent'], ['Maine', 'Gorham'], ['Maine', 'Lewiston, Maine'], ['Maine', 'Orono'], ['Maine', 'Waterville'], ['Maryland', 'Annapolis'], ['Maryland', 'Chestertown'], ['Maryland', 'College Park'], ['Maryland', 'Cumberland'], ['Maryland', 'Emmitsburg'], ['Maryland', 'Frostburg'], ['Maryland', 'Princess Anne'], ['Maryland', 'Towson'], ['Maryland', 'Salisbury'], ['Maryland', 'Westminster'], ['Massachusetts', 'Boston'], ['Massachusetts', 'Bridgewater'], ['Massachusetts', 'Cambridge'], ['Massachusetts', 'Chestnut Hill'], ['Massachusetts', 'The Colleges of Worcester Consortium:'], ['Massachusetts', 'Dudley'], ['Massachusetts', 'North Grafton'], ['Massachusetts', 'Paxton'], ['Massachusetts', 'Worcester'], ['Massachusetts', 'The Five College Region of Western Massachusetts:'], ['Massachusetts', 'Amherst'], ['Massachusetts', 'Northampton'], ['Massachusetts', 'South Hadley'], ['Massachusetts', 'Fitchburg'], ['Massachusetts', 'North Adams'], ['Massachusetts', 'Springfield'], ['Massachusetts', 'Waltham'], ['Massachusetts', 'Williamstown'], ['Massachusetts', 'Framingham'], ['Michigan', 'Adrian'], ['Michigan', 'Albion'], ['Michigan', 'Allendale'], ['Michigan', 'Alma'], ['Michigan', 'Ann Arbor'], ['Michigan', 'Berrien Springs'], ['Michigan', 'Big Rapids'], ['Michigan', 'East Lansing'], ['Michigan', 'Flint'], ['Michigan', 'Hillsdale'], ['Michigan', 'Houghton'], ['Michigan', 'Kalamazoo'], ['Michigan', 'Marquette'], ['Michigan', 'Midland'], ['Michigan', 'Mount Pleasant'], ['Michigan', 'Olivet'], ['Michigan', 'Saginaw'], ['Michigan', 'Sault Ste. Marie'], ['Michigan', 'Spring Arbor'], ['Michigan', 'Ypsilanti'], ['Minnesota', 'Bemidji'], ['Minnesota', 'Crookston'], ['Minnesota', 'Duluth'], ['Minnesota', 'Faribault, South Central College'], ['Minnesota', 'Mankato'], ['Minnesota', 'Marshall'], ['Minnesota', 'Moorhead'], ['Minnesota', 'Morris'], ['Minnesota', 'Northfield'], ['Minnesota', 'North Mankato, South Central College'], ['Minnesota', 'St. Cloud'], ['Minnesota', 'St. Joseph'], ['Minnesota', 'St. Peter'], ['Minnesota', 'Winona'], ['Mississippi', 'Cleveland'], ['Mississippi', 'Hattiesburg'], ['Mississippi', 'Itta Bena'], ['Mississippi', 'Oxford'], ['Mississippi', 'Starkville'], ['Missouri', 'Bolivar'], ['Missouri', 'Cape Girardeau'], ['Missouri', 'Columbia'], ['Missouri', 'Fayette'], ['Missouri', 'Fulton'], ['Missouri', 'Kirksville'], ['Missouri', 'Maryville'], ['Missouri', 'Rolla'], ['Missouri', 'Warrensburg'], ['Montana', 'Bozeman'], ['Montana', 'Dillon'], ['Montana', 'Missoula'], ['Nebraska', 'Chadron'], ['Nebraska', 'Crete'], ['Nebraska', 'Kearney'], ['Nebraska', 'Lincoln'], ['Nebraska', 'Peru'], ['Nebraska', 'Seward'], ['Nebraska', 'Wayne'], ['Nevada', 'Las Vegas'], ['Nevada', 'Reno'], ['New Hampshire', 'New London, New Hampshire'], ['New Hampshire', 'Durham'], ['New Hampshire', 'Hanover'], ['New Hampshire', 'Henniker'], ['New Hampshire', 'Keene'], ['New Hampshire', 'Plymouth'], ['New Hampshire', 'Rindge'], ['New Jersey', 'Ewing'], ['New Jersey', 'Jersey City'], ['New Jersey', 'Glassboro'], ['New Jersey', 'Hoboken'], ['New Jersey', 'Madison'], ['New Jersey', 'Newark'], ['New Jersey', 'New Brunswick'], ['New Jersey', 'Princeton'], ['New Jersey', 'Union'], ['New Jersey', 'West Long Branch'], ['New Mexico', 'Hobbs'], ['New Mexico', 'Las Cruces'], ['New Mexico', 'Las Vegas'], ['New Mexico', 'Portales'], ['New Mexico', 'Silver City'], ['New York', 'Alfred'], ['New York', 'Albany'], ['New York', 'Aurora'], ['New York', 'Binghamton'], ['New York', 'Brockport'], ['New York', 'Buffalo'], ['New York', 'Canton'], ['New York', 'Clinton'], ['New York', 'Cobleskill'], ['New York', 'Delhi'], ['New York', 'Fredonia'], ['New York', 'Geneseo'], ['New York', 'Geneva'], ['New York', 'Hamilton'], ['New York', 'Ithaca'], ['New York', 'Morningside Heights, Manhattan'], ['New York', 'New Paltz'], ['New York', 'Oneonta'], ['New York', 'Oswego'], ['New York', 'Plattsburgh'], ['New York', 'Potsdam'], ['New York', 'Poughkeepsie'], ['New York', 'Purchase'], ['New York', 'Rochester'], ['New York', 'Saratoga Springs'], ['New York', 'Seneca Falls'], ['New York', 'Stony Brook'], ['New York', 'Syracuse'], ['New York', 'Tivoli'], ['New York', 'Troy'], ['New York', 'West Point'], ['North Carolina', 'Banner Elk'], ['North Carolina', 'Boiling Springs'], ['North Carolina', 'Boone'], ['North Carolina', 'Buies Creek'], ['North Carolina', 'Chapel Hill'], ['North Carolina', 'Cullowhee'], ['North Carolina', 'Davidson'], ['North Carolina', 'Durham'], ['North Carolina', 'Elon'], ['North Carolina', 'Greensboro'], ['North Carolina', 'Greenville'], ['North Carolina', 'Hickory'], ['North Carolina', 'Mars Hill'], ['North Carolina', 'Mount Olive'], ['North Carolina', 'Pembroke'], ['North Carolina', 'Wilmington, North Carolina'], ['North Carolina', 'Wingate'], ['North Carolina', 'Winston-Salem'], ['North Dakota', 'Fargo'], ['North Dakota', 'Grand Forks'], ['Ohio', 'Ada'], ['Ohio', 'Alliance'], ['Ohio', 'Ashland'], ['Ohio', 'Athens'], ['Ohio', 'Berea'], ['Ohio', 'Bluffton'], ['Ohio', 'Bowling Green'], ['Ohio', 'Cedarville'], ['Ohio', 'Columbus'], ['Ohio', 'Delaware'], ['Ohio', 'Fairborn'], ['Ohio', 'Findlay'], ['Ohio', 'Gambier'], ['Ohio', 'Granville'], ['Ohio', 'Hiram'], ['Ohio', 'Kent'], ['Ohio', 'Nelsonville'], ['Ohio', 'New Concord'], ['Ohio', 'Oberlin'], ['Ohio', 'Oxford'], ['Ohio', 'Rio Grande'], ['Ohio', 'Wilberforce'], ['Oklahoma', 'Ada'], ['Oklahoma', 'Alva'], ['Oklahoma', 'Durant'], ['Oklahoma', 'Edmond'], ['Oklahoma', 'Goodwell'], ['Oklahoma', 'Langston'], ['Oklahoma', 'Norman'], ['Oklahoma', 'Stillwater'], ['Oklahoma', 'Tahlequah'], ['Oklahoma', 'Tulsa'], ['Oklahoma', 'Weatherford'], ['Oregon', 'Ashland'], ['Oregon', 'Corvallis'], ['Oregon', 'Eugene'], ['Oregon', 'Forest Grove'], ['Oregon', 'Klamath Falls'], ['Oregon', 'La Grande'], ['Oregon', 'Marylhurst'], ['Oregon', 'McMinnville'], ['Oregon', 'Monmouth'], ['Oregon', 'Newberg'], ['Pennsylvania', 'Altoona'], ['Pennsylvania', 'Annville'], ['Pennsylvania', 'Bethlehem'], ['Pennsylvania', 'Bloomsburg'], ['Pennsylvania', 'Bradford'], ['Pennsylvania', 'California'], ['Pennsylvania', 'Carlisle'], ['Pennsylvania', 'Cecil B. Moore, Philadelphia, also known as "Templetown"'], ['Pennsylvania', 'Clarion'], ['Pennsylvania', 'Collegeville'], ['Pennsylvania', 'Cresson'], ['Pennsylvania', 'East Stroudsburg'], ['Pennsylvania', 'Edinboro'], ['Pennsylvania', 'Erie'], ['Pennsylvania', 'Gettysburg'], ['Pennsylvania', 'Greensburg'], ['Pennsylvania', 'Grove City'], ['Pennsylvania', 'Huntingdon'], ['Pennsylvania', 'Indiana'], ['Pennsylvania', 'Johnstown'], ['Pennsylvania', 'Kutztown'], ['Pennsylvania', 'Lancaster'], ['Pennsylvania', 'Lewisburg'], ['Pennsylvania', 'Lock Haven'], ['Pennsylvania', 'Loretto'], ['Pennsylvania', 'Mansfield'], ['Pennsylvania', 'Meadville'], ['Pennsylvania', 'Mont Alto'], ['Pennsylvania', 'Millersville'], ['Pennsylvania', 'New Wilmington'], ['Pennsylvania', 'North East'], ['Pennsylvania', 'University City, Philadelphia'], ['Pennsylvania', 'Oakland, Pittsburgh'], ['Pennsylvania', 'Reading'], ['Pennsylvania', 'Selinsgrove'], ['Pennsylvania', 'Shippensburg'], ['Pennsylvania', 'Slippery Rock'], ['Pennsylvania', 'State College'], ['Pennsylvania', 'Villanova'], ['Pennsylvania', 'Waynesburg'], ['Pennsylvania', 'West Chester'], ['Pennsylvania', 'Wilkes-Barre'], ['Pennsylvania', 'Williamsport'], ['Rhode Island', 'Kingston'], ['Rhode Island', 'Providence'], ['South Carolina', 'Central'], ['South Carolina', 'Charleston'], ['South Carolina', 'Clemson'], ['South Carolina', 'Clinton'], ['South Carolina', 'Columbia'], ['South Carolina', 'Due West'], ['South Carolina', 'Florence'], ['South Carolina', 'Greenwood'], ['South Carolina', 'Orangeburg'], ['South Carolina', 'Rock Hill'], ['South Carolina', 'Spartanburg'], ['South Dakota', 'Brookings'], ['South Dakota', 'Madison'], ['South Dakota', 'Spearfish'], ['South Dakota', 'Vermillion'], ['Tennessee', 'Chattanooga'], ['Tennessee', 'Collegedale'], ['Tennessee', 'Cookeville'], ['Tennessee', 'Harrogate'], ['Tennessee', 'Henderson'], ['Tennessee', 'Johnson City'], ['Tennessee', 'Knoxville'], ['Tennessee', 'Martin'], ['Tennessee', 'McKenzie'], ['Tennessee', 'Memphis'], ['Tennessee', 'Murfreesboro'], ['Tennessee', 'Nashville'], ['Tennessee', 'Sewanee'], ['Texas', 'Abilene'], ['Texas', 'Alpine'], ['Texas', 'Austin'], ['Texas', 'Beaumont'], ['Texas', 'Canyon'], ['Texas', 'College Station'], ['Texas', 'Commerce'], ['Texas', 'Dallas'], ['Texas', 'Denton'], ['Texas', 'Fort Worth'], ['Texas', 'Georgetown'], ['Texas', 'Huntsville'], ['Texas', 'Houston'], ['Texas', 'Keene'], ['Texas', 'Kingsville'], ['Texas', 'Lubbock'], ['Texas', 'Nacogdoches'], ['Texas', 'Plainview'], ['Texas', 'Prairie View'], ['Texas', 'San Marcos'], ['Texas', 'Stephenville'], ['Texas', 'Waco'], ['Utah', 'Cedar City'], ['Utah', 'Logan'], ['Utah', 'Provo'], ['Utah', 'Orem'], ['Utah', 'Salt Lake City'], ['Utah', 'Ephraim'], ['Vermont', 'Burlington'], ['Vermont', 'Castleton'], ['Vermont', 'Johnson'], ['Vermont', 'Lyndonville'], ['Vermont', 'Middlebury'], ['Vermont', 'Northfield'], ['Virginia', 'Blacksburg'], ['Virginia', 'Bridgewater'], ['Virginia', 'Charlottesville'], ['Virginia', 'Farmville'], ['Virginia', 'Fredericksburg'], ['Virginia', 'Harrisonburg'], ['Virginia', 'Lexington'], ['Virginia', 'Lynchburg'], ['Virginia', 'Radford'], ['Virginia', 'Williamsburg'], ['Virginia', 'Wise'], ['Virginia', 'Chesapeake'], ['Washington', 'Bellingham'], ['Washington', 'Cheney'], ['Washington', 'Ellensburg'], ['Washington', 'Pullman'], ['Washington', 'University District, Seattle'], ['West Virginia', 'Athens'], ['West Virginia', 'Buckhannon'], ['West Virginia', 'Fairmont'], ['West Virginia', 'Glenville'], ['West Virginia', 'Huntington'], ['West Virginia', 'Montgomery'], ['West Virginia', 'Morgantown'], ['West Virginia', 'Shepherdstown'], ['West Virginia', 'West Liberty'], ['Wisconsin', 'Appleton'], ['Wisconsin', 'Eau Claire'], ['Wisconsin', 'Green Bay'], ['Wisconsin', 'La Crosse'], ['Wisconsin', 'Madison'], ['Wisconsin', 'Menomonie'], ['Wisconsin', 'Milwaukee'], ['Wisconsin', 'Oshkosh'], ['Wisconsin', 'Platteville'], ['Wisconsin', 'River Falls'], ['Wisconsin', 'Stevens Point'], ['Wisconsin', 'Waukesha'], ['Wisconsin', 'Whitewater'], ['Wyoming', 'Laramie']]

## Question 1

Lets' check the year and quarter of the recession start time next:

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a
    string value in a format such as 2005q3'''
    #read data
    Data=r"/content/drive/MyDrive/Colab Notebooks/ML Class/Week 8/Hypothesis test lab/gdplev.xls"
    df = pd.read_excel(Data, usecols="E:G", skiprows=220, nrows=66, header=None)
    df.columns = ['Quarter', 'GDPinBillions', 'GDPinBillionsChanged2009Dollars']
    df["GDPDiff"]=df["GDPinBillions"].diff()
    df = df.fillna(0)
    print(len(df))
    #find recession start via for loop
    for i in range(len(df)-1):
       if df["GDPDiff"].iloc[i+1] < 0 and df["GDPDiff"].iloc[i + 2] < 0:
          ressesion_start=df["Quarter"].iloc[i-1]

    return ressesion_start,df



rs,df=get_recession_start()
print(df)
print(rs)

66
   Quarter  GDPinBillions  GDPinBillionsChanged2009Dollars  GDPDiff
0   2000q1        10031.0                          12359.1      0.0
1   2000q2        10278.3                          12592.5    247.3
2   2000q3        10357.4                          12607.7     79.1
3   2000q4        10472.3                          12679.3    114.9
4   2001q1        10508.1                          12643.3     35.8
..     ...            ...                              ...      ...
61  2015q2        17998.3                          16374.2    214.7
62  2015q3        18141.9                          16454.9    143.6
63  2015q4        18222.8                          16490.7     80.9
64  2016q1        18281.6                          16525.0     58.8
65  2016q2        18450.1                          16583.1    168.5

[66 rows x 4 columns]
2008q3

In [6]:
print(df)

   Quarter  GDPinBillions  GDPinBillionsChanged2009Dollars  GDPDiff
0   2000q1        10031.0                          12359.1      0.0
1   2000q2        10278.3                          12592.5    247.3
2   2000q3        10357.4                          12607.7     79.1
3   2000q4        10472.3                          12679.3    114.9
4   2001q1        10508.1                          12643.3     35.8
..     ...            ...                              ...      ...
61  2015q2        17998.3                          16374.2    214.7
62  2015q3        18141.9                          16454.9    143.6
63  2015q4        18222.8                          16490.7     80.9
64  2016q1        18281.6                          16525.0     58.8
65  2016q2        18450.1                          16583.1    168.5

[66 rows x 4 columns]

## Question 2

Let's also get the year and quarter of the recession end time:

In [7]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a
    string value in a format such as 2005q3'''
    Data=r"/content/drive/MyDrive/Colab Notebooks/ML Class/Week 8/Hypothesis test lab/gdplev.xls"
    df = pd.read_excel(Data, usecols="E:G", skiprows=220, nrows=66, header=None)
    df.columns = ['Quarter', 'GDPinBillions', 'GDPinBillionsChanged2009Dollars']
    df["GDPDiff"]=df["GDPinBillions"].diff()
    df = df.fillna(0)
    print(len(df))
    #Find recesssion end via for loop
    for i in range(len(df)-4):
        if df["GDPDiff"].iloc[i] < 0 and df["GDPDiff"].iloc[i + 1] < 0 and  df["GDPDiff"].iloc[i + 2] > 0 and df["GDPDiff"].iloc[i + 3] > 0:
          ressesion_end=df["Quarter"].iloc[i+3]


    return ressesion_end,df

re,df=get_recession_end()
print(re)

66
2009q4

In [8]:
print(df)

   Quarter  GDPinBillions  GDPinBillionsChanged2009Dollars  GDPDiff
0   2000q1        10031.0                          12359.1      0.0
1   2000q2        10278.3                          12592.5    247.3
2   2000q3        10357.4                          12607.7     79.1
3   2000q4        10472.3                          12679.3    114.9
4   2001q1        10508.1                          12643.3     35.8
..     ...            ...                              ...      ...
61  2015q2        17998.3                          16374.2    214.7
62  2015q3        18141.9                          16454.9    143.6
63  2015q4        18222.8                          16490.7     80.9
64  2016q1        18281.6                          16525.0     58.8
65  2016q2        18450.1                          16583.1    168.5

[66 rows x 4 columns]

## Question 3

Then, let's get the year and quarter of the recession bottom time:

In [9]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a
    string value in a format such as 2005q3'''
    #Read data
    Data=r"/content/drive/MyDrive/Colab Notebooks/ML Class/Week 8/Hypothesis test lab/gdplev.xls"

    df = pd.read_excel(Data, usecols="E:G", skiprows=220, nrows=66, header=None)

    df.columns = ['Quarter', 'GDPinBillions', 'GDPinBillionsChanged2009Dollars']
    df["GDPDiff"]=df["GDPinBillions"].diff()
    df = df.fillna(0)
    print(len(df))
    #Find recession bottom via for loop
    for i in range(len(df)-1):
       if df["GDPDiff"].iloc[i+1] < 0 and df["GDPDiff"].iloc[i + 2] < 0:
          ressesion_bottom=df["Quarter"].iloc[i+2]
    return ressesion_bottom,df

rb,df=get_recession_bottom()
print(rb)

66
2009q2

In [11]:
print(df)

       RegionID           RegionName State                           Metro  \
0          6181             New York    NY                        New York
1         12447          Los Angeles    CA  Los Angeles-Long Beach-Anaheim
2         17426              Chicago    IL                         Chicago
3         13271         Philadelphia    PA                    Philadelphia
4         40326              Phoenix    AZ                         Phoenix
...         ...                  ...   ...                             ...
10725    398292  Town of Wrightstown    WI                       Green Bay
10726    398343               Urbana    NY                         Corning
10727    398496          New Denmark    WI                       Green Bay
10728    398839               Angels    CA                               0
10729    399114              Holland    WI                       Sheboygan

         CountyName  SizeRank         2000q1         2000q2         2000q3  \
0            Queens         1       0.000000       0.000000       0.000000
1       Los Angeles         2  207066.666667  214466.666667  220966.666667
2              Cook         3  138400.000000  143633.333333  147866.666667
3      Philadelphia         4   53000.000000   53633.333333   54133.333333
4          Maricopa         5  111833.333333  114366.666667  116000.000000
...             ...       ...            ...            ...            ...
10725         Brown     10726  101766.666667  105400.000000  111366.666667
10726       Steuben     10727   79200.000000   81666.666667   91700.000000
10727         Brown     10728  114566.666667  119266.666667  126066.666667
10728     Calaveras     10729  151000.000000  155900.000000  158100.000000
10729     Sheboygan     10730  151033.333333  150500.000000  153233.333333

              2000q4  ...         2014q2         2014q3         2014q4  \
0           0.000000  ...  515466.666667  522800.000000  528066.666667
1      226166.666667  ...  498033.333333  509066.666667  518866.666667
2      152133.333333  ...  192633.333333  195766.666667  201266.666667
3       54700.000000  ...  113733.333333  115300.000000  115666.666667
4      117400.000000  ...  164266.666667  165366.666667  168500.000000
...              ...  ...            ...            ...            ...
10725  114866.666667  ...  144866.666667  146866.666667  149233.333333
10726   98366.666667  ...  132133.333333  137033.333333  140066.666667
10727  131966.666667  ...  174566.666667  181166.666667  186166.666667
10728  167466.666667  ...  244466.666667  254066.666667  259933.333333
10729  155833.333333  ...  201266.666667  201566.666667  201266.666667

              2015q1         2015q2         2015q3         2015q4  \
0      532266.666667  540800.000000  557200.000000  572833.333333
1      528800.000000  538166.666667  547266.666667  557733.333333
2      201066.666667  206033.333333  208300.000000  207900.000000
3      116200.000000  117966.666667  121233.333333  122200.000000
4      171533.333333  174166.666667  179066.666667  183833.333333
...              ...            ...            ...            ...
10725  148666.666667  149333.333333  149866.666667  149933.333333
10726  141700.000000  137866.666667  136466.666667  136166.666667
10727  187600.000000  188666.666667  188433.333333  188933.333333
10728  260100.000000  250633.333333  263500.000000  279500.000000
10729  206000.000000  207600.000000  212866.666667  217833.333333

              2016q1         2016q2    2016q3
0      582866.666667  591633.333333  587200.0
1      566033.333333  577466.666667  584050.0
2      206066.666667  208200.000000  212000.0
3      123433.333333  126933.333333  128700.0
4      187900.000000  191433.333333  195200.0
...              ...            ...       ...
10725  149833.333333  151266.666667  155000.0
10726  138966.666667  144200.000000  143000.0
10727  191066.666667  192833.333333  197600.0
10728  276533.333333  271600.000000  269950.0
10729  221966.666667  228033.333333  234950.0

[10730 rows x 73 columns]

## Question 4

And then we can convert the housing data to quarters (as defined above!) and return the mean values:

In [10]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].ac

    Note: Quarters are defined in the lab description above and they are
    not arbitrary three month periods.

    A quarter is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December
q1 01-03 q2 04-06 q3 07-09 q4 10-12

    yyyy-mm
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    #Read data
    Data=r'/content/drive/MyDrive/Colab Notebooks/ML Class/Week 8/Hypothesis test lab/City_Zhvi_AllHomes.csv'
    df = pd.read_csv(Data)
    df=df.fillna(0)
    df1=df.copy()
    quarter_mapping = {
        '01': 'q1', '02': 'q1', '03': 'q1',
        '04': 'q2', '05': 'q2', '06': 'q2',
        '07': 'q3', '08': 'q3', '09': 'q3',
        '10': 'q4', '11': 'q4', '12': 'q4'
    }
    quarters = []
    qm={}
    #Map the months
    for i in range(len(df.columns)-6):
      year=df.columns[i+6][0:4]
      month=df.columns[i+6][5:7]
      quarter=quarter_mapping.get(month)
      q=year+quarter
      quarters.append(q)

    df.columns.values[6:] = quarters

    #Map the years
    for year in range(2000, 2017):
      for quarter in range(1, 5):
          label = f"{year}q{quarter}"
          if label in df.columns:
            quarter_columns = df.filter(like=label).columns
            if not quarter_columns.empty:

               qm[label] = df[quarter_columns].mean(axis=1)


    df = pd.DataFrame(qm)
    a = ['RegionID', 'RegionName', 'State', 'Metro', 'CountyName', 'SizeRank']
    df = pd.concat([df1[a], df], axis=1)
    df2=pd.DataFrame(qm)
    return df2,df



df2,df = convert_housing_data_to_quarters()
df.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,2000q1,2000q2,2000q3,2000q4,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
0,6181,New York,NY,New York,Queens,1,0.000000,0.000000,0.000000,0.000000,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,207066.666667,214466.666667,220966.666667,226166.666667,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
2,17426,Chicago,IL,Chicago,Cook,3,138400.000000,143633.333333,147866.666667,152133.333333,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,53000.000000,53633.333333,54133.333333,54700.000000,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,111833.333333,114366.666667,116000.000000,117400.000000,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [ ]:
df2.head()

,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
1,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
2,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
3,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
4,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [23]:
!pip install ipdb

Collecting ipdb
  Downloading ipdb-0.13.13-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: ipython>=7.31.1 in /usr/local/lib/python3.10/dist-packages (from ipdb) (7.34.0)
Requirement already satisfied: tomli in /usr/local/lib/python3.10/dist-packages (from ipdb) (2.0.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipdb) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (75.1.0)
Collecting jedi>=0.16 (from ipython>=7.31.1->ipdb)
  Downloading jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.31.1->ipdb) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.31.1->ipdb) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.31.1->ipdb) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.31.1->ipdb) (0.2.13)
Downloading ipdb-0.13.13-py3-none-any.whl (12 kB)
Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 18.0 MB/s eta 0:00:00
Installing collected packages: jedi, ipdb
Successfully installed ipdb-0.13.13 jedi-0.19.1

## Question 5

Finally, let's run the actual t-test now:

In [36]:
import ipdb #Used to debugging
def run_ttest():
    '''First, creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then, runs a ttest
    comparing the university town values to the non-university towns values,
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence.

    Return the tuple (different, p, better) where: different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).

    Hypothesis: University towns have their mean housing prices
    less affected by recessions. Run a t-test to compare the ratio of the mean
    price of houses in university towns the quarter before the recession starts compared to the recession bottom:



    '''

    df1, housing_df = convert_housing_data_to_quarters()
    uniTowns = pd.DataFrame(get_list_of_university_towns(), columns=["State", "RegionName"])


    recession_start, _ = get_recession_start()
    recession_bottom, _ = get_recession_bottom()

    housing_df['State'] = housing_df['State'].replace(states)

    #Calculating price ratio
    housing_df["price_ratio"] = housing_df[recession_start] / housing_df[recession_bottom]


    #Dropping NAN
    housing_df.dropna(subset=["price_ratio"], inplace=True)

    #sPLITTING UP DATA
    housing_df["b_uniTown"] = False
    for i, row in housing_df.iterrows():
      for j, uni_row in uniTowns.iterrows():
          if row["State"] == uni_row["State"] and row["RegionName"] == uni_row["RegionName"]:
              housing_df.at[i, "b_uniTown"] = True
              break


    uniTown_prices = housing_df[housing_df["b_uniTown"]]["price_ratio"]
    nonUniTown_prices= housing_df[~housing_df["b_uniTown"]]["price_ratio"]



    t_value, p = ttest_ind(uniTown_prices, nonUniTown_prices, nan_policy='omit')
    different = p < 0.01
    uniTown_mean = uniTown_prices.mean()
    nonUniTown_mean = nonUniTown_prices.mean()
    better = None
    if uniTown_mean < nonUniTown_mean:
      better = "university town"
    else:
      better="non-university town"

    return different, p, better

print(run_ttest())

66
66
(False, 0.046040975395856894, 'university town')